/*--------------------------------------------------------------
Body & html setting
--------------------------------------------------------------*/

/* Body Setting */

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #eee9e9;
}

/* Html Setting */

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100vw;
}

/* Webkit Scrollbar Setting */

::-webkit-scrollbar {
    display: none;
}

/*--------------------------------------------------------------
# NavBar Setting
--------------------------------------------------------------*/

.navbar {
    position: fixed;
    width: 100vw;
    color: transparent;
    top: 10px;
    font-style: italic;
    transition: 0.3s;
}

/*--------------------------------------------------------------
# Jumbotron Intro Setting
--------------------------------------------------------------*/

.jumbotron {
    height: 100vh;
    padding: 2em 0.05em;
    background-color: #f5f5f5;
}

#intro {
    padding-top: 180px;
}

:root {
    --mainColor: #ff9800;
}

#inword {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
}

#inword:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

#intro h1 {
    position: relative;
    left: 20px;
    font-weight: 100;
    font-kerning: inherit;
}

/*--------------------------------------------------------------
# Portfolio Setting
--------------------------------------------------------------*/

.portfolio-content {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.home-page {
    padding-top: 15px;
}

.home-page .portfolio-content {
    margin-bottom: 15px;
}

.portfolio-content figure {
    margin: 0;
}

/* Padding Margin Setting */

.portfolio-content figure img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.portfolio-content ul {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

.portfolio-content li {
    margin: 0 3px;
}

.portfolio-content li a {
    color: #a6a6a6;
}

/* Portfolio Effect */

.portfolio-content .overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.portfolio-content:hover .overlay {
    background-color: rgba(255, 255, 255, 0.85);
}

.portfolio-content img {
    display: block;
    position: relative;
}

.portfolio-content a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff9800;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin: 60px;
    padding: 50px;
}

.portfolio-content:hover a {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/

.wrapper {
    background-color: #f5f5f5;
    margin-top: 10em;
    margin: 100px auto;
    padding: 40px 30px;
    position: relative;
    width: 75%;
}

.sentence {
    color: #222;
    font-size: 30px;
    text-align: left;
}

/*FadeIn Animation*/

.fadeIn {
    display: inline;
    text-indent: 8px;
}

.fadeIn span {
    animation: fadeEffect 12.5s linear infinite 0s;
    -ms-animation: fadeEffect 12.5s linear infinite 0s;
    -webkit-animation: fadeEffect 12.5s linear infinite 0s;
    color: #ff9800;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.fadeIn span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.fadeIn span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.fadeIn span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}

.fadeIn span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

/*FadeEffect Animation*/

@-moz-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: translateY(0px);
    }
    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Skills Tools Effects
--------------------------------------------------------------*/

.slider {
    background: transparent;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, whitesmoke 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

/*--------------------------------------------------------------
# Footer Settings
--------------------------------------------------------------*/

footer {
    background-color: black;
    color: #fff;
    left: 20px;
}

.cv {
    color: white;
    text-decoration: none;
}

.cv:hover {
    color: #ff9800;
    text-decoration: none;
}

.mail-ic {
    color: white;
    text-decoration: none;
}

.mail-ic:hover {
    color: #ff9800;
    text-decoration: none;
}

ion-icon {
    padding: 5px;
    font-size: 48px;
    transition: 0.5s ease;
    color: #fff;
}

#icon {
    transition: 0.5s ease;
    color: #fff;
    font-size: 53px;
}

ion-icon:hover, #icon:hover {
    color: #ff9800;
}

.text-uppercase {
    font-style: italic;
}

/*--------------------------------------------------------------
# @meida Settings
--------------------------------------------------------------*/

/* min-width: 992px */

@media screen and (min-width: 992px) {
    .outer-container {
        padding-left: 0;
        margin-top: 10em;
    }
}

/* min-width: 768px */

@media (min-width: 768px) {
    .navbar-nav {
        position: fixed;
        right: 10px;
        font-size: 70px;
        color: grey;
    }
    .home-page {
        padding: 0;
    }
    .home-page .portfolio-content {
        margin-bottom: 0;
    }
    .no-padding {
        padding: 0;
    }
}

/* min-width: 768px & max-width: 1199.98px */

@media (min-width: 768px) and (max-width: 1199.98px) {
    .navbar-brand img {
        width: 150px;
    }
    .navbar {
        padding: 0;
        margin: 10px;
        width: 99vw;
    }
    .navbar-nav {
        position: fixed;
        right: 18px;
        font-size: 3vh;
    }
    .jumbotron {
        height: 60vh;
        padding-right: 2px;
    }
    #intro h1 {
        font-size: 2.5vh;
        left: 0.5vh;
        font-weight: 100;
        font-kerning: inherit;
    }
    .wrapper {
        position: relative;
        width: 100%;
    }
    .sentence {
        display: block;
        color: #222;
        font-size: 2vh;
        text-align: left;
    }
    .sentence span {
        font-size: 2vh;
        position: absolute;
    }
    .slider {
        margin: 0 10;
        width: 95%;
    }
    .text-uppercase {
        font-size: 2vh;
    }
    ion-icon {
        font-size: 3vh;
    }
    #icon {
        font-size: 4vh;
    }
}

/* max-width: 480px */

@media (max-width: 480px) {
    .navbar {
        position: fixed;
        padding-top: 10px;
        top: 0;
    }
    .navbar-brand img {
        padding-top: 5px;
        width: 100px;
    }
    .scrolled {
        padding-top: 10px;
        background: #eee9e9;
    }
    .jumbotron {
        height: 100vh;
    }
    #intro h1 {
        position: relative;
        font-size: 3vh;
        left: 2.5px;
        font-weight: 100;
        font-kerning: inherit;
    }
    .wrapper {
        padding: 15px;
        position: relative;
        width: 100%;
    }
    .sentence {
        display: block;
        left: 0px;
        color: #222;
        font-size: 3vh;
        text-align: left;
    }
    .sentence span {
        font-size: 3vh;
    }
    .slider {
        width: 100%;
    }
    .col {
        padding-left: 0px;
    }
    .text-uppercase {
        font-size: 4.5vh;
    }
    ion-icon {
        font-size: 6vh;
    }
    #icon {
        font-size: 7vh;
    }
}
